.socialsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  padding: 4rem;
  border-top: 1px solid rgb(117, 113, 113);
  border-bottom: 1px solid rgb(117, 113, 113);
}

.socialsImg {
  display: flex;
}

.socialsImg > img {
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 0.5rem;
}

.listContainer {
  display: flex;
}

ul {
  list-style: none;
  margin-right: 2rem;
}

.footerEnd {
  padding: 1.5rem;
  text-align: center;
}
